
.accountsBox {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.account-box {
  margin: 10px 10px 10px 0;
  background: white;
  box-shadow: 1px 1px 2px grey;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  display: grid;
  grid-template-columns: 75% 25%;
}

.editImg {
  width: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 300px;
  padding: 5px;
}

.editImg:hover{
  background-color: #00E778;
}

.accountEdit {
  margin: 1em;
}

.accountInfo p {
  margin: 5px 10px;
}

.accountInfo p:first-child {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: large;
}
