<app-base-screen></app-base-screen>
<div class="content">
  <h1>Profiel</h1>
  <div class="profile-img">
    <img class="profilePic" src="assets/Images/anonime.jpg">
  </div>
  <hr>
  <h3>Persoonlijk informatie</h3>
  <div class="personal-info">
    <p><b>Voornaam:</b> {{ firstName}}</p>
    <p><b>Achternaam:</b> {{ lastName}}</p>
    <p><b>Telefoon:</b> {{ phone}}</p>
    <p><b>E-mail:</b> {{ email}}</p>
    <p><b>Afdeling:</b> {{ district}}</p>
  </div>
  <hr>
  <div class="row mx-auto">
    <h3>Mijn projecten</h3>
    <button class="btn btn-success ml-auto" routerLink="/project-create">+ Project aanmaken</button>
  </div>

  <div class="projectsBox">
    <div class="project-box" *ngFor="let project of myProjects">
      <div class="projectInfo">
        <p>{{project.name}}</p>
        <p>{{project.neighbourhood}}</p>
        <p>{{project.startDate.toString().substring(0, 10)}} / {{project.endDate.toString().substring(0, 10)}}</p>
      </div>
      <div class="projectEdit">
        <a routerLink="/project-create"><img class="editImg" src="../assets/edit.svg" alt="edit"></a>
      </div>
    </div>
  </div>
</div>
